---
name: Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      # - uses: DeterminateSystems/magic-nix-cache-action@def9f5a5c6a6b8751c0534e8813a5d0ad2635660 # v11

      - name: Build crate
        run: nix build .

      - name: Publish crate
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_TOKEN }}
        run: nix develop --command bash -c "cargo publish"

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |-
          gh release create "${tag}" \
            --repo "$GITHUB_REPOSITORY" \
            --title "${GITHUB_REPOSITORY#*/} ${tag#v}" \
            --generate-notes \
            "./result/bin/maudfmt#maudfmt-${tag#v}"
